*{
    padding: 0;
    margin: 0;
}

body, html{
    padding: 0;
    margin: 0;
}

header{
    height: 100px;
    background: rgb(37,2,58);
    width: 100%;
}


nav ul li{
    margin: 35px 0 auto 20px !important;
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}



.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    background: url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.box{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
}

.b1, .b2{
    padding: 1rem;
    margin-top: 0.7rem;
    overflow: hidden;
}

.text-animate{
    animation-name: lower_third;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease;

}



@keyframes lower_third{
    0%{
        transform: translateY(100px);
    }
    15%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100px);
    }
}

