.container{
    display: flex;
    background: ccc;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    .c-video{
        width: 100%;
        min-width: 800px;
        position: relative;
        overflow: hidden;
        .video{
            width: 100%;
        }
        .controls{
            display: flex;
            position: absolute;
            bottom: 0;
            width: 100%;
            flex-wrap: wrap;
            background: rgba(0,0,0,0.7);
            transform: translateY(100%) translateY(-5px);
            transition: all 0.2s ;
            
            .blu-bar{
                height: 10px;
                top: 0;
                left: 0;
                width: 100%;
                background: black;
                .blu-juc{
                    height: 10px;
                    // width: 100px;
                    background-color: blue;
                }
            }
            .btns{
                padding: 10px;

                button{
                    background: none;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    &:before{
                        content: '\f144';
                        font-family: FontAwesome;
                        width: 30px;
                        height: 30px;
                        display: inline-block;
                        font-size: 28px;
                        color: white;
                        -webkit-font-smoothing: antialiased;
                    }
                    &.play:before{
                        content: '\f144';
                    }
                    &.pause:before{
                        content: '\f28b';
                    }
                } 
            }
            &:hover{
                transform: translateY(0); 
            }
        }
        
    }
    
}
